<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        ProductList 

        <h:dataTable value="#{productBean.listProduct}" var="p" >
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Product ID"/>
                </f:facet>
                <h:outputText value="#{p.prodID}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Product Name"/>
                </f:facet>
                <h:outputText value="#{p.prodName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Description"/>
                </f:facet>
                <h:outputText value="#{p.description}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Date Of Manf"/>
                </f:facet>
                <h:outputText value="#{p.dateOfManf}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Price"/>
                </f:facet>
                <h:outputText value="#{p.price}"/>
            </h:column>
            
        </h:dataTable>

        
        
        
         Sale list 

         <h:dataTable value="#{saleBean.listSale}" var="s" >
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Sale No"/>
                </f:facet>
                <h:outputText value="#{s.slNo}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="SalesmanID"/>
                </f:facet>
                <h:outputText value="#{s.salesmanID}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="salesmanName"/>
                </f:facet>
                <h:outputText value="#{s.salesmanNameName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="prodName"/>
                </f:facet>
                <h:outputText value="#{s.prodID.prodName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="dos"/>
                </f:facet>
                <h:outputText value="#{s.dos}"/>
            </h:column>
            
        </h:dataTable>
    </h:body>
</html>

